.MentorSection {
  padding: 0px 20px;
  background-color: #f0f8ff; /* Soft background to give a fresh, calming feel */
  border-radius: 15px;
  text-align: center;
}

.Title {
  color: #ff5722; /* Bright color to grab attention */
  font-size: 40px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 12px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.mentorsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mentorCard {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info {
  flex: 1;
  padding: 20px;
  text-align: left; /* Left-align the text for a more structured look */
}

.name {
  font-size: 28px;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 10px;
}

.role {
  font-size: 20px;
  color: #2ecc71;
  margin-bottom: 15px;
  font-style: italic;
}

.description {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  max-width: 80%; /* Constrain text width for better readability */
  margin-bottom: 20px;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .mentorCard {
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .name {
    font-size: 22px;
  }

  .role {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }

  .image {
    width: 100%;
    height: auto;
  }
}
